* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

#title:hover {
    color: #ff00b3;
}
.header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #161a1d;
}

body {
    background-color: #edf2fb;
}

#logo a {
    text-decoration: none;
    color: #f7fff7;
    font-size: 20px;
}

#logo {
    width: 50%;
    display: flex;
    align-items: center;
}

#menu-top {
    width: 50%;
}

#menu-top nav {
    float: right;
}

#menu-top nav ul {
    display: flex;
}

#menu-top li {
    list-style: none;
}

#menu-top a {
    color: #f7fff7;
    text-decoration: none;
    margin: 15px;
}

#menu-top a:hover {
    color: #ff00b3;
}

#main .links {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 33rem;
    background-image: radial-gradient(
        ellipse closest-side at 50% 50%,
        #494c50,
        #37383c 25%,
        #343233
    );
}

#cajaLinks {
    width: 30%;
    height: 450px;
    border-radius: 50px;
    background: linear-gradient(0deg, #ff0cae, #3801ff);
    box-shadow: 20px 20px 62px #161a1d, -10px -10px 50px #161a1d;
    align-items: center;
}

/* Este código sirve para que los divs cambien de color */
#cajaLinks div:hover {
    background-color: rgb(255, 0, 242);
    color: rgb(255, 255, 255);
}

#cajaLinks img {
    width: 35px;
    margin: 10px;
}
#cajaLinks a {
    text-decoration: none;
    color: black;
}

.social {
    box-shadow: 2px 2px 6px #161a1d, -1px -1px 5px #c300ff;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    /* NOTE: Con este margen podemos dentrar un DIV, DENTRO DE OTRO */
    margin: 34px auto;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    #logo a {
        text-decoration: none;
        color: #f7fff7;
        font-size: 12px;
    }

    #cajaLinks {
        width: 70%;
    }

    #menu-top a {
        color: #f7fff7;
        text-decoration: none;
        margin: 10px;
        font-size: 13px;
    }
}
